/*  
    Last updated: April 2020
    Author name:  Uzzul Hussain 
    Email:        uzzulht@gmail.com
*/
/*body tag bg color */
body{
    background-color: #fbfbfb;
}

/* main body div container floating  */
.base-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* main body div container wrapper  floating  */
.base-container .formwrapper {
  background-color: #fff;
  max-width: 900px;
  padding: 0% 5%;
  padding-bottom: 5%;
  padding-top: 2%;
  margin: 2% 10%;
  border-top: 3px solid #7fb8e7;
  box-shadow: 0px 2px 5px 1px rgba(226, 230, 231, 0.871);
}

/* form properties */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* text area for send msg */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* text area for viewing msg*/
.textReciver {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  height: 275px;
}

/*error msg font color */
.error{
  color: crimson;
}

/* When the textarea gets focused */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


